[submodule "rust/ecc-rs"]
	path = rust/ecc-rs
	url = https://github.com/alxdavids/ecc-rs/
	branch = master
[submodule "rust/h2c-rust-ref"]
	path = rust/h2c-rust-ref
	url = https://github.com/alxdavids/h2c-rust-ref/
	branch = alxdavids/voprf-rs
